
#door-container {
  margin: auto;
  margin-top: 20%;
  position: relative;
  width: 480px;
  height: 600px;
  background-image: url("../img/haikei.png");
  /*background-image: url("../img/hanabatake.jpeg");*/
}

#doors {
  display: flex;
  justify-content: center;
  height: 100%;
}

#right-door {
  /*軸*/
  transform-origin: right;
  margin-top: 17.5%;
}

#left-door {
  /* 左ドアの回転軸を左側に設定 */
  transform-origin: left;
  margin-top: 17.5%;
  
}

#open-button {
  margin-bottom: 10px;
}

