#door-container {
  position: relative;
  width: 200px;
  height: 300px;
}



#doors {
  display: flex;
  justify-content: center;
  height: 100%;
}


#left-door {
  /* 左ドアの回転軸を左側に設定 */
  transform-origin: center left;
  image: url("../img/left.png")
}

#right-door{
  image: url("../img/right.png")
}

#open-button {
  margin-bottom: 10px;
}

